{
  "plugins": [
    "babel"
  ],
  "extends": [
    "react-native",
    "react-native-prettier"
  ],
  rules: {
    "react-native/no-color-literals": "warn",
    "no-invalid-this": 0,
    "babel/no-invalid-this": 1
  }
}
